*, *::before, *::after {
    box-sizing: border-box;
}

.badge {
    font-size: 50px;
}

.badgeRow {
    display: flex;
    justify-content: space-around;
}

.badgeDisplayCase {
    border: 3px solid #555555;
    border-radius: 8px;
    background-color: #F3F3F3;
    margin: 30px 60px;
    padding: 20px;
}