.eventImages{
    width: 400px;
    height: 400px;
}

.eventDivs{
    border: 3px solid #555555;
    border-radius: 8px;
    background-color: #F3F3F3;
    margin: 30px;
    padding: 20px;
}

.consequence {
    background-color: #EABF26;
}