@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
} 

body {
  padding: 0;
  border: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

* {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 120px;
  text-align: center;
  color: #F3F3F3;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}

h2 {
  text-align: center;
  font-size: 52px;
  color: #555555;
}

p, div {
  text-align: center;
  font-size: 36px;
  color: #555555;
}


button {
  font-size: 36px;
  background-color: #C82B2B;
  border: 3px solid #555555;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 40px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 40px;
}

.centered-button-wrapper {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box-yellow-bg {
  border: 3px solid #555555;
  border-radius: 8px;
  background-color: #EABF26;
  margin: 30px;
  padding: 20px;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
