@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
} 

body {
  padding: 0;
  border: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #555555;
}

* {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 120px;
  text-align: center;
  color: #C82B2B;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 6px #555555;
}

h2 {
  text-align: center;
  font-size: 52px;
  color: #555555;
}

p, div {
  text-align: center;
  font-size: 32px;
  color: #555555;
}

img {
  max-width: 400px;
  max-height: 400px;
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

button {
  font-size: 36px;
  background-color: #C82B2B;
  border: 3px solid #555555;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 40px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

.wrapper {
  background-color: #FFFFFF;
  max-width: 1000px;
  margin: 40px;
  padding: 40px;
  border-radius: 6px;
}

.centered-button-wrapper {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.box-yellow-bg {
  border: 3px solid #555555;
  border-radius: 8px;
  background-color: #EABF26;
  margin: 30px;
  padding: 20px;
}

.small-font {
  font-size: 28px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.choices {
  background-color: #F3F3F3;
  padding: 20px;
  border: 3px solid #C82B2B;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.prompt {
  padding: 20px;
  font-size: 24px;
}

.choice-wrapper {
  flex-basis: 50%;
}

.choice {
  font-size: 20px;
}

.tally {
  font-size: 24px;
  color: #C82B2B;
}

.result-prompt {
  padding: 40px;
  border: 3px solid #555555;
  border-radius: 8px;
}
